# dot files
*.ini
.venv
.vscode
.ipynb_checkpoints
.DS_Store
__pycache__

# Directories
assets/
previous/
data/*
!data/dataset.py
!data/__init__.py
models/notebooks
notebooks/
scripts/
models/deeplabv3_plus_resnet50_v2.h5